# Django sozlamalari
SECRET_KEY=yashirin_kalitni_bu_yerga_yoziing
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*

# Ma'lumotlar bazasi (PostgreSQL uchun misol)
# DATABASE_URL=postgres://user:password@localhost:5432/dbname

# Render-da foydalanish uchun (Deploy vaqtida)
# CSRF_TRUSTED_ORIGINS=https://hosting-nomi.onrender.com

# SOCIAL AUTHENTICATION (Ijtimoiy tarmoqlar)
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# TELEGRAM_BOT_TOKEN=
